* text=auto
*.java text eol=lf
*.aidl text eol=lf
*.xml text eol=lf
*.md text eol=lf
*.py text eol=lf
*.yml text eol=lf
*.gradle text eol=lf
*.properties text eol=lf
*.png binary
*.tflite binary
*.jar binary
*.so binary
*.zip binary
